/* General Styles */

*{
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      box-sizing: border-box;
}


/* body{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
      background: url('images/lbbck.jpg') no-repeat center center/ cover;

}

.container{
      width: 550px;
      height: 450px;
}

.header{
      color: #fff;
      border: solid 2px #fff;
      font-size: 1.2rem;
      background-color: #262626;
      padding: 5px;
      width: 80%;
      margin: 20px auto;
      border-radius: 5px;

}


.main-content{
      width: 100%;
      height: 300px;
      background-color: #fff;
      border-radius: 15px;
      padding: 50px 40px;
      box-shadow:  0  0 10px;
}

.main-content .text-area{
        font-size: 1.5rem;
        line-height: 1.5;
}


.main-content .person{
      font-size: 1.6rem;
      color: red;
      text-transform: uppercase;
      margin-top: 20px;
}


.button-area button{
      background-color: #262626;
      color: #fff;
      font-size: 1.2rem;
      padding: 10px 15px;
      margin-top: 20px;
      border-radius: 5px;

}


.button-area button:active{
      background-color: lightblue;
       
} */ 

body{
      background: url('images/forest.jpg') no-repeat center center/cover; 
      height: 100vh;
      position: relative;
}

#open-btn{

      position: absolute;
      top: 70%;
      left: 10%;
      width: 350px;
      height: 80px;
      font-size: 2rem;
      background: transparent;
      color: #fff;
      border: solid 2px #fff;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 0 3px black;
     transition: .5s;
}


#open-btn:hover{
      background-color: #fff;
      color: #000;
}

#modal{
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 100px;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      animation-name: animateModal;
      animation-duration: .4s;

}


#close-btn{
      font-size: 3rem;
}

#close-btn{
      cursor: pointer;
      font-size: 3rem;
      color: #ff0000;
}

#modal-container{
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, .2);
}


@keyframes animateModal {
      from {
            top: -300px;
            opacity: 0;
      }

      to {
            top: 50%;
            opacity: 1;
      }
}